# Banco de dados Neon
DATABASE_URL=postgresql://user:password@host.neon.tech/neondb?sslmode=require

# Meta Conversions API
FB_PIXEL_ID=
FB_ACCESS_TOKEN=

# Meta Pixel (público)
NEXT_PUBLIC_FB_PIXEL_ID=

# Google Analytics 4
NEXT_PUBLIC_GA4_ID=G-XXXXXXXXXX
